.bord {
    display: flex;
}

#Klok {
    background-color: rgb(228, 228, 228);
    height: 320px;
    width: 240px;
    border: 2px solid black;
}

#TrijnInfo {
    background-color: blue;
    height: 320px;
    width: 640px; 
    border: 2px solid black;
}

#Scherm{
    margin-top: 20px;
    margin-left: 20px;
    height: 280px;
    width: 560px; 
    background-color: white;
    display: grid;
    grid-template-areas: 
        "hoeLang SoortTrijnEnLogo"
        "WaarGaatTrijnHeen WaarGaatTrijnHeen"
        "Via Via"
        "Volgende Volgende";
}

#hoeLang {
    color: rgb(0 0 107);
    height: 50px;
    grid-area: hoeLang;
    display: flex;
    align-items: flex-end;
}

#getal {
    height: 50px;
    width: 55px;
    font-family: Arial;
    font-size: 40px;
}

#minuten {
    height: 33px;
    width: 70px;
    font-family: Arial;
    font-size: 20px;
}

#SoortTrijnEnLogo {
    color: rgb(0 0 107);
    height: 55px;
    font-family: Arial;
    font-size: 40px;
    grid-area: SoortTrijnEnLogo;
    display: flex;
}

#sprinter {
    height: 55px;
    width: 300px;
    text-align: end;
}

#AankomstTijd {
    height: 50px;
    width: 200px;
}

#WaarGaatTrijnHeen {
    grid-area: WaarGaatTrijnHeen;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
}

#Paron {
    background-color: blue;
    height: 320px;
    width: 180px; 
    border: 2px solid black;
}