.bord {
    display: flex;
}

#Klok {
    background-color: rgb(228, 228, 228);
    height: 320px;
    width: 240px;
    border: 2px solid black;
}

#TrijnInfo {
    background-color: blue;
    height: 320px;
    width: 600px; 
    border: 2px solid black;
}

#Scherm{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 280px;
    width: 560px; 
    background-color: white;
    display: grid;
    grid-template-areas: 
        "hoeLang SoortTrijnEnLogo"
        "WaarGaatTrijnHeen WaarGaatTrijnHeen"
        "Via Via"
        "Volgende Volgende";
}

#hoeLang {
    color: rgb(0 0 107);
    height: 55px;
    grid-area: hoeLang;
    display: flex;
    align-items: flex-end;
}

#getal {
    height: 50px;
    width: 55px;
    font-family: Arial;
    font-size: 40px;
}

#minuten {
    height: 33px;
    width: 70px;
    font-family: Arial;
    font-size: 20px;
}

#SoortTrijnEnLogo {
    color: rgb(0 0 107);
    height: 55px;
    font-family: Arial;
    font-size: 40px;
    grid-area: SoortTrijnEnLogo;
    display: flex;
}

#sprinter {
    height: 55px;
    width: 300px;
    text-align: end;
}

#AankomstTijd {
    height: 50px;
    width: 200px;
}

#WaarGaatTrijnHeen {
    color: rgb(0 0 107);
    grid-area: WaarGaatTrijnHeen;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
}

#Via {
    font-family: Arial;
    font-size: 20px;
    color: rgb(0 0 107);
    height: 137px;
    grid-area: Via;
}

#Volgende {
    color: white;
    grid-area:  Volgende;
    height: 30px;
    background-color: rgb(0 0 107);
    display: flex;
    font-family: Arial;
    font-size: 18px;
}

#Hierna {
    margin-top: 5px;
    margin-left: 15px;
}

#next {
    margin-top: 5px;
    font-style: italic;
}

#trijn {
    margin-top: 5px;
}

#Paron {
    background-color: blue;
    height: 320px;
    width: 140px; 
    border: 2px solid black;
}

#WitFlak {
    background: white;
    color: blue;
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-areas:
        "KlijnBlauwFlak spoor"
        "paronNummer paronNummer";
}

#KlijnBlauwFlak {
    height: 25px;
    width: 25px;
    background-color: blue;
    grid-area: KlijnBlauwFlak;
}

#spoor {
    height: 18px;
    margin-right: 50px;
    margin-top: 7px;
    grid-area: spoor; 
}

#paronNummer {
    font-size: 65px;
    margin-left: 40px;
    grid-area: paronNummer;
}